
/*
@font-face {
	font-family: 
}*/

body {
	text-align: left;
	background-color: #4fbacc;/*#51aac1;*/
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #1c363d;
	margin: 0; 
	}

h1 {
	font-size: 4.5em; /*72px/16px =4.5em*/
	color: #1c363d;
	line-height: 1.2;
	text-shadow: 1px 3px 5px #51aac1;

}

h2 {
	text-align: center;
	border-bottom: 5px dotted #1c363d;
	margin-top: 50px;
}

/*makes the header(and background-color) go all the way up the page and with some padding on the bottom*/
header {
	background-color: #37899e;
	text-align: center;
	padding: 20px 0px 20px 0px;
	border-bottom: 10px solid #1c363d ;

}

.main-header {
	background: linear-gradient( 0deg, #4fbacc, transparent 90%),#077b8e
	            url('../img/codehead.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	 

}

.header-under-title {
	font-weight: 500;
	letter-spacing: 0.065em;
}

.navlist {
	list-style: none;
	text-align: center;
}

.primary-content {
	width: 75%;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
	max-width: 900px;
}
li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
	
}

#resources {
	display: inline-block;
	margin: 25px 25%;
	text-align: center;
	padding: 0 20px;
	border: 2px dashed;
	

}

/*#resources-heading {
	text-align: center;
}*/

.resources-list {
	display: block;
	
}

p {
	font-size: 20px;
	margin-right: 5%;
	margin-left: 5%;
}

/*BLOG*/

#whymother {
	float: left;
}

#blog {
	font-size: 50px;
}

#beginning {
	text-align: center;
}
/*margin is not working as I want it to.I want margin on the left and right*/
article p {
	max-width: 50%
	margin-left:5%;
	margin-right: 5%;
}

article header {
	width: 50%;
	margin-left: 25%;
	border-bottom: 5px solid #1c363d;
	max-height: 90px; /*Maby this should be deleted, can't decide on styling*/
	
}



/*INDEX/HOME*/
#mail {
	text-align: center;
}

aside {
	text-align: left;
	margin-left: 5%;
}
aside ul li {
	padding-bottom: 5px;

}
img {
	width:30%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	border:5px solid #1c363d; /*not supported in HTML5*/
	margin-top: 10px;
	max-width: 100%;
	/*min-width: 75%;*/
	border-radius: 175px;
}

#codehead {
	min-width: 75%;

	border-radius: 20px;
}
section {
	/*max-width: 75%;
	/*margin-left: 5%;
	margin-right: 5%;
	display: auto;*/
}


footer {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px #1c363d;
	border-top: 2px solid #1c363d;
	overflow: auto; /*this makes the header be all in one place, but it is still at the top of the page...*/
}

#contact-footer {
	margin-top: 800px;

}
/*Pseudo-classes-------------*/
/*Link styling*/
a:link {

	color: cyan;
	text-decoration: none;
}

a:visited {
	color: #004d4d;
}

a:hover {
	color:  #000099;
}

a:active {
	color: coral;
}

:focus {
	color: white;
	background-color: darkblue;
}

/*Media queries--------------*/

@media (max-width: 960px) {
	.primary-content {
		width: 90%;
	}
	
}

@media (max-width: 768px) {
	.primary-content {
		width: 100%;
		padding: 20px;
		border: none;
	}
	.main-header {
		max-height: 380px;
		padding: 50px 25px 0;
		background-image: linear-gradient(#4fbacc, #fff);
	            
	}

	h1 {
		font-size: 2rem;
		border: none;
		line-height: 1.1;

	}

	p {
		font-size: 0.9rem;
	}

	/*.header-under-title {
		font-weight: 600;
	}*/

	footer p {  /*This is not working....*/
		padding-bottom: 0;
		margin-bottom: 0;
		margin-top: 0;
	}

	#resources-heading {
		font-size: 1rem;
	}


}